/* select parts of html5bp */

html { font-size: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.1; }

table { border-collapse: collapse; border-spacing: 0; }

/* surii.net apps */

/* primary content div(s) */

body > div
{
  margin: 0;
  padding: 0;
}

/* screen type classes */

.tiny > div:first-child
{
  height: 212px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 320px;
}

.skinny > div:first-child
{
  height: 218px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 320px;
}

.skinny > div:nth-child(2)
{
  height: 212px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 218px;
  width: 320px;
}

.skinnyscroll > div
{
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.tbonescroll > div:first-child
{
  height: 218px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 398px;
}

.tbonescroll > div:nth-child(2)
{
  left: 39px;
  position: absolute;
  top: 218px;
  width: 320px;
}

.tbone > div:first-child
{
  height: 218px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 398px;
}

.tbone > div:nth-child(2)
{
  height: 212px;
  left: 39px;
  overflow: hidden;
  position: absolute;
  top: 218px;
  width: 320px;
}

