*
{
  background: transparent;
  margin: 0;
  padding: 0;
}
body
{
  background: #000;
  color: #fff;
  font: .8em normal "Monospace 821" , Geneva, Monaco, monospace;
  padding-top: 2em;
  text-transform: uppercase;
}
h1
{
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
#text
{
  background: #e5d89a;
  color: #222;
  padding: .75em 0;
  text-align: left;
}
#text p
{
  margin: 10px;
  padding: 2px;
}

#display
{
  display: inline-block;
  outline: thin solid black;
  background: url(../img/bg.png) top left repeat;
  padding: 8px;
  position: relative;
}
#links
{
  position: absolute;
  left: 8px;
  top: 8px;
}
#links a
{
  position: absolute;
}
#links a:hover
{
  border: 2px dotted #aaf;
}
#goods
{
  background: #e5d89a;
  outline: thin solid black;
  color: #222;
  text-align: left;
  width: 96px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.selectedGood a
{
  background-color: #11c;
  color: #fff;
}
h2
{
  margin: 5px .5em;
  text-transform: uppercase;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li
{
  border-bottom: 1px solid #000;
  margin: 0;
  padding: .5em 0 .5em 1em;
}
a
{
  color: #36f;
  font-weight: bold;
  text-decoration: none;
}
a:hover, a:focus
{
  color: #f20;
  text-decoration: underline;
}
a:active
{
  color: #60f;
  text-decoration: underline;
}
#C{display: none;}

.tbone > div:nth-child(2)
{
  background: red;
}

