*
{
  background: transparent;
  margin: 0;
  padding: 0;
}
body
{
  background: #000;
  color: #fff;
  font: 0.84em/1.7 normal "Monospace 821" , Geneva, Monaco, monospace;
  padding-top: 2em;
  text-align: center;
  text-transform: uppercase;
}
#game
{
  margin: auto;
  padding: 0;
}
#j
{
  border: 1px solid #000;
  color: #000;
  margin: auto;
  width: 576px;
}
#display
{
  outline: thin solid black;
  background: url(../img/bg.png) top left repeat;
  padding: 32px;
  width: 256px;
  height: 256px;
  float: left;
  position: relative;
}
#links
{
  position: absolute;
  left: 32px;
  top: 32px;
}
#links a
{
  position: absolute;
}
#links a:hover
{
  border: 2px dotted #aaf;
}
#goods
{
  background: #e5d89a;
  float: left;
  height: 320px;
  outline: thin solid black;
  text-align: left;
  width: 256px;
}
.selectedGood a
{
  background-color: #11c;
  color: #fff;
}
#text
{
  background: #e5d89a;
  clear: left;
  margin: auto;
  overflow: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
  width: 576px;
}
#text p
{
  margin: 10px;
  padding: 2px;
}
h1
{
  color: #fff;
  margin: 1em auto;
}
h2
{
  margin: 5px .5em;
  text-transform: uppercase;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li
{
  border-bottom: 1px solid #000;
  margin: 0;
  padding: .5em 0 .5em 1em;
}
a
{
  color: #36f;
  font-weight: bold;
  text-decoration: none;
}
a:hover, a:focus
{
  color: #f20;
  text-decoration: underline;
}
a:active
{
  color: #60f;
  text-decoration: underline;
}
#C{display: none;}

